body {
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  background-color: #D75B60;
}

.list-group-item {
  background-color: #D75B60;
  display: inline-block;
}

.btn { 
  background-color: #FFFFFF;
  color: #000000;
  text-transform: capitalize;
  border: none; 
}

.modal-content {
  text-transform: capitalize;
}

img {
  width: 25%;
  display: block;
  margin: 0 auto;
} 

